<div class="header">
  <div class="inner-header">
    <h1 class="title">
     レシピ管理
    </h1>
    <li class='new-post'>
      <%= link_to "New Post",new_recipe_path, class:"post-btn"%>
    </li>
  </div>
</div>

<div class='main'>
<% @recipes.each do |recipe| %>
  <div class="recipe">
    <%= link_to recipes_path(recipe.id), method: :get do %>
    <div class="recipe-name">
      <%= link_to recipe.name, recipe_path(recipe)%>
    </div>
    <div class="recipe-image-comtent">
      <%=link_to image_tag(recipe.image, class: "recipe-image"), recipe_path(recipe)%>
    </div>
  </div>
  <% end %>

<% end %>


</div>